body {
    background-color:plum;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
  }

  .container {

    background-color: rgb(38, 0, 141);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #00d9ff;
    border-radius: 5px;
    box-shadow: 0 0 5px #a09999;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }